/* Base Application Styles */
body {
  /*color: #fff;*/
  /*background: #222;*/
}

@media (min-width: 1200px) {
  .desc {
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bold;
  }

  .x {
    height: 25px;
    width: 25px;
  }

  .posture {
    padding: 160px 100px 100px 100px;
  }

  .download {
    height: 620px;
  }

  .line {
    border-right:1px solid grey
  }

  .foot{
    padding:0 400px 0 400px;
  }
}

/* 平板竖屏到横屏到常规屏幕 */
@media (min-width: 768px) and (max-width: 979px) {
  .desc {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
  }

  .x {
    height: 20px;
    width: 20px;
  }

  .posture {
    padding: 160px 100px 100px 100px;
  }

  .download {
    height: 620px;
  }
  .line {
    border-right:1px solid grey
  }
  .foot{
    padding:0 250px 0 250px;
  }
}

/* 手机横屏到平板竖屏 */
@media (max-width: 767px) {
  .desc {
    font-size: 15px;
    font-weight: bold;
  }

  .x {
    height: 12px;
    width: 12px;
  }

  .posture {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .download {
    height: 300px;
  }
  .line {
  }
  .footIcon {
    width: 45px;
    height: 45px;
  }
  .foot{
    padding:0 50px 0 50px;
  }
}

/* 手机横屏及更小屏幕 */
@media (max-width: 480px) {
  .desc {
    font-size: 15px;
    font-weight: bold;
  }

  .x {
    height: 12px;
    width: 12px;
  }

  .posture {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .download {
    height: 300px;
  }
  .line {
  }

  .footIcon {
    width: 45px;
    height: 45px;
  }
  .foot{
    padding:0 50px 0 50px;
  }
}
