/* Base Application Styles */
body {
  /*color: #fff;*/
  /*background: #222;*/
}

@media (min-width: 1200px) {
  .desc {
    letter-spacing: 4px;
    font-size: 20px;
  }

  .x {
    height: 20px;
    width: 20px;
  }

  .posture {
    padding-top: 160px;
    padding-bottom: 100px;
  }

  .download {
    height: 620px;
  }
}

/* 平板竖屏到横屏到常规屏幕 */
@media (min-width: 768px) and (max-width: 979px) {
  .desc {
    letter-spacing: 4px;
    font-size: 20px;
  }

  .x {
    height: 20px;
    width: 20px;
  }

  .posture {
    padding-top: 160px;
    padding-bottom: 100px;
  }

  .download {
    height: 620px;
  }
}

/* 手机横屏到平板竖屏 */
@media (max-width: 767px) {
  .desc {
    font-size: 12px;
  }

  .x {
    height: 12px;
    width: 12px;
  }

  .posture {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .download {
    height: 300px;
  }
}

/* 手机横屏及更小屏幕 */
@media (max-width: 480px) {
  .desc {
    font-size: 12px;
  }

  .x {
    height: 12px;
    width: 12px;
  }

  .posture {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .download {
    height: 300px;
  }
}
